/*整体*/
body{
    background-color:lightsteelblue;
    margin: 0;
    color:#fff;
  
}

/*头像*/
.picture{
    width: 1000px;
    margin: 0px auto 0px auto;
}
.pic{
    width: 150px;
    height: 150px;
    float: left;
}
h2{
float: left;
margin: 50px 0 20px 20px;
}
span{
    font-size: 18px;
}


/*导航区*/
#navigation/*div*/
{
    height: 41px;
    width: 100%;
    
  
}
.navigation1{  /*ul*/
    list-style: none;
    width: 1000px;
    height: 41px;

    margin: 0px auto 0px auto;
     padding: 0;
     
}
.navigation2{     /*li*/
    cursor: pointer;
    padding: 0 25px;
    height: 41px;
    line-height: 41px;
    margin: 0;
    float: right;
    position: relative;
    vertical-align: bottom;
}

a.item-name:visited{

    font-size: 16px;
    font-weight: normal;
    color: #fff;
    font-family: "Microsoft Yahei";
    display: block;
    text-align: center;
    position: relative;
    z-index: 100;
    text-decoration: none;
}
.navigation2:hover{
    background-color:darkblue;

}
a.item-name:link{
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    font-family: "Microsoft Yahei";
    display: block;
    text-align: center;
    position: relative;
    z-index: 100;
    text-decoration: none;
}
/*内容*/
#container{
width: 100%;
background-color: rgb(255, 223, 174); 
margin-top: 150px;
height: 700px;
}

/*标题*/

.word{

    font-size: 20px;
    color: #fff;
    float: right;
    margin: 10px 200px;
 }
 .up{
    width: 100%;
    height: 40px;
    border-bottom: 2px solid lightsteelblue;
 }
 /*照片*/
 #picture{
     width: 1300px;
     margin: 10px auto;
 }
 .photo{
    height: 300px;
    width: 240px;
 }
a.word:link{
    width: 280px;
    height: 41px;
    float: right;
   color: #fff;
   text-decoration: none;
   margin: 0 0;
}
a.word:visited{
    width: 280px;
    height: 41px;
    float: right;
   color: #fff;
   text-decoration: none;
   margin: 0 0;
}
a.word:hover{
    width: 280px;
    height: 41px;
    float: right;
   color:lightsteelblue ;
   text-decoration: none;
    margin: 0 0;
}

#box2{
    height: 300px;
    width: 240px;
    float: left;
   background-color: navy;
  
 margin-left: 12px;
}

#box3{
    height: 300px;
    width: 240px;
    float: left;
   background-color: navy;
  margin-top: 10px;
 margin-left: 12px;
  
}

/*页脚区*/
#footer{
    float: left;
    width: 100%;
    
    }
    .foot{
        text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    padding-top: 20px;
    }